body {
	font-family: Lato, sans-serif;
	font-weight: 300;
	margin: auto;
	font-size: 18px;
	width: 800px;
	background-color: pink;
}

.container {
	background-color: white;
	overflow: hidden;
}

header {
	clear: both;
}
header h1 {
	/*font-family: Roboto, sans-serif;*/
}
.logo {
	float: left;
}
.menu {
	float: right;
	margin: 21px;
}
.banner img {
	width: 100%;
}
.article img {
	width: 300px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
}
.article {
	clear: both;
}
footer {
    clear: both;
    background: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.kotak {
	position: absolute;
	width: 200px;
	height: 200px;
	background: orange;
	top: 0;
	transition: .5s;
}
.kotak:hover {
	transform: translate(400px);
}